<h2>Productos</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Thumbnail</th>
    </tr>
  </thead>
  <tbody id="products-body">
  </tbody>
</table>
