<h2>Productos</h2>

<form id="chat-form">
  <div class="mb-3">
    <label for="chat-email" class="form-label">Email address</label>
    <input
      type="text"
      class="form-control"
      id="chat-email"
      aria-describedby="emailHelp"
    />
    <span id="error" class="text-danger"></span>
    <div id="emailHelp" class="form-text">We'll never share your email with
      anyone else.</div>
  </div>

  <ul class="list-group" id="chat">
  </ul>
  <div class="d-flex align-items-center justify-content-center gap-2 mt-5">
    <input type="text" id="chat-message" class="form-control" placeholder="Que estas pensando?"/>
    <button class="btn btn-primary">Enviar</button>
  </div>
</form>